@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-green {
    background-color: #007853;
    color: #ffffff;
}

.nav-menu {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.5rem 1rem; 
}
  
.nav-menu:hover {
    background-color: #f0f0f0; 
}
  
.nav-menu.active {
    background-color: #e6e8da; 
    border-bottom: 2px solid #007853;
    color: #007853;
}
  
